# Core & Computer Vision
opencv-python-headless>=4.8.0
numpy>=1.23.5
pandas>=2.0.0
pyyaml>=6.0
pillow>=9.5.0
scikit-image>=0.20.0
scipy>=1.10.0
matplotlib>=3.7.0
tqdm>=4.65.0

# Deep Learning / Segment Anything Model (SAM)
torch>=2.0.0
torchvision>=0.15.0
segment-anything>=1.0
ultralytics>=8.0.0
